/***** Testimonial Section *****/
.section-block {
    display: block;
    height: 30em;
    width: 100%;
}

.testimonial-image {
    width: 35%;
}

.spacer {
    margin: 120px 0;
}

.section-block .text-left {
    width: 60%; 
    margin-right: 40%;
}

.text-right {
    width: 60%; 
    margin-left: 40%;
}

.section-block .text p {
    
}

.icon {
    margin-left: 10px;
    font-size: 2em;
}